ul {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

li {
  background-color: antiquewhite;
}

li:hover {
  background-color: chartreuse;
  cursor: pointer;
}

li.selected {
  background: wheat;
}

.adornment {
  align-self: flex-end;
}
