ul.list {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

li.default,
li.selected {
  display: flex;
  justify-content: center;
}

li.default > div,
li.selected > div {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.field {
  border: 1px solid #ccc;
  padding: 8px;
}

li:hover {
  background-color: chartreuse;
  cursor: pointer;
}

li.selected {
  background: wheat;
}

.adornment {
  font-size: 32px;
  justify-content: center;
}
